export BOSH_ENVIRONMENT=vbox
export BOSH_CA_CERT=$( bosh interpolate "../bosh-vars-store.yml" --path /director_ssl/ca )
export BOSH_CLIENT=admin
export BOSH_CLIENT_SECRET=$( bosh interpolate "../bosh-vars-store.yml" --path /admin_password )

export CREDHUB_SERVER=https://192.168.56.6:8844
export CREDHUB_CA_CERT="$( bosh interpolate "../bosh-vars-store.yml" --path=/credhub_tls/ca )
$( bosh interpolate "../bosh-vars-store.yml" --path=/uaa_ssl/ca )"
export CREDHUB_CLIENT=credhub-admin
export CREDHUB_SECRET=$( bosh interpolate "../bosh-vars-store.yml" --path=/credhub_admin_client_secret )
